# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Composer
/vendor

# Laravel runtime and caches
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php

# Environment and local config
.env
.env.*
Dockerfile
.dockerignore

# IDE/misc
.idea
.vscode
*.swp
